<div class="row">
  <div class="col-xs-12">
    <h1>Edit <%= @partner.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'form', locals: {partner: @partner} %>
  </div>
</div>
