<div class="row">
  <div class="col-xs-12">
    <h1>All Partners</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Create New Partner', new_partner_path, class: "btn btn-default" %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-4">
    <h5>Partner</h5>
  </div>

  <div class="col-xs-4">
    <h5>Projects by Partner</h5>
  </div>

  <div class="col-xs-4">
    <h5>Edit Partner</h5>
  </div>
</div>

<% @partners.each do |partner| %>

  <div class="row">
    <div class="col-xs-4">
      <p><%= link_to partner.name, partner_path(partner), class: "btn btn-link" %></p>
    </div>

    <div class="col-xs-4">
      <p><%= Project.where(partner_id: partner.id).count %></p>
    </div>

    <div class="col-xs-4">
      <p><%= link_to 'Edit', edit_partner_path(partner), class: "btn btn-link" %></p>
    </div>
  </div>

<% end %>

