<div>
  <h2>
    Create a new subscription
  </h2>
  <%= form_tag('/subscription', {method: :post, class:"form-inline"}) do %>
    <div class="form-group">
      <label>Plan Name</label>
      <input name="name" type="text", class="form-control", placeholder="$5 Footlongs"></input>
    </div>
    <div class="form-group">
      <label>Plan Interval</label>
      <%= select_tag 'interval', options_for_select(['month', 'year']), multiple: false, :include_blank => false,  class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Plan Value</label>
      <input name="amount" type="number", class="form-control", placeholder="5.00"></input>
    </div>
    <button type="submit">Submit to Stripe</button>
  <% end %>
</div>
