<div class="row">
  <div class="col-xs-12">
    <h1>Admin portal</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Sections</h2>
  </div>
</div>


<!-- Reports -->

<!-- Dashboard -->
<!-- Users over time -->
<!-- $$$ -->
<!-- Most popular projects/campaigns -->
<!-- Upcoming campaigns ending -->
