<% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-12">
      <h1>Manage Account</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to 'My Account', edit_user_registration_path, class: "btn btn-default" %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h1>Login</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default" %>
      <%= link_to 'Sign In', new_user_session_path, class: "btn btn-default"  %>
    </div>
  </div>
<% end %>

<hr/>

<% if user_signed_in? && current_user.admin? %>



  <hr />

<!-- Reports -->

<!-- Dashboard -->
<!-- Users over time -->
<!-- $$$ -->
<!-- Most popular projects/campaigns -->
<!-- Upcoming campaigns ending -->

<!-- Load Facebook SDK for JavaScript -->

<% end %>
