<div id='home-index-modal'></div>

<script "text/javascript">
// The code in this function runs when the page is loaded.
$(function() {
  loadModals();


  function loadModals(){
    var $modalDiv = $('#home-index-modal'),
        modalArray = [],
        i = 0;

    modalArray.push(`
      <!-- Google doc for project idea submission -->
      <div id='idea-submission-modal' class='modal fade' role='dialog' aria-labelledby='Climate Cents Idea Submission form' data-original-title='' title=''>
        <div class='modal-dialog modal-lg' data-original-title='' title=''>
          <div class='modal-content' data-original-title='' title=''>
            <div class='modal-header' data-original-title='' title=''>
              <button type='button' class='close' data-dismiss='modal'>×</button>
              <h4 class='modal-title'>Share Your Project Idea</h4>
            </div>
            <div class='contribution' data-original-title='' title=''>
              <iframe src='https://docs.google.com/forms/d/1olztkGpufinYRQGHWYsGG_oZ1FXeAtGhIdRWIHWGIA4/viewform?embedded=true'>Loading...</iframe>
            </div>
          </div>
        </div>
      </div>
    `);

    modalArray.push(`
    <!-- Volunteer with Climate Cents form -->
    <div id='volunteer-cc-modal' class='modal fade' role='dialog' aria-labelledby='Climate Cents Volunteer form' data-original-title='' title=''>
      <div class='modal-dialog modal-lg' data-original-title='' title=''>
        <div class='modal-content' data-original-title='' title=''>
          <div class='modal-header' data-original-title='' title=''>
            <button type='button' class='close' data-dismiss='modal'>×</button>
            <h4 class='modal-title'>Help Climate Cents Grow</h4>
          </div>
          <div class='contribution' data-original-title='' title=''>
            <iframe src='https://act.myngp.com/Forms/277197869734365952'>Loading...</iframe>
          </div>
        </div>
      </div>
    </div>
    `);

    modalArray.push(`
      <!-- Advocate with Climate Cents -->
      <div id='advocate-modal' class='modal fade' role='dialog' aria-labelledby='Climate Cents Advocate form' data-original-title='' title=''>
        <div class='modal-dialog' data-original-title='' title=''>
          <!-- Modal content-->
          <div class='modal-content' data-original-title='' title=''>
            <div class='modal-header' data-original-title='' title=''>
              <button type='button' class='close' data-dismiss='modal'>×</button>
              <h4 class='modal-title'>Advocate a Cause</h4>
            </div>
            <div class='modal-body' data-original-title='' title=''>
              <p>Advocacy Coming Soon</p>
            </div>
            <div class='modal-footer' data-original-title='' title=''>
              <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
            </div>
          </div>
        </div>
      </div>
    `);

    modalArray.push(`
      <!-- Donate to Climate Cents -->
      <div id='donate-cc-modal' class='modal fade' role='dialog' aria-labelledby='Climate Cents Direct Donation form' data-original-title='' title=''>
        <div class='modal-dialog' data-original-title='' title=''>
          <!-- Modal content-->
          <div class='modal-content' data-original-title='' title=''>
            <div class='modal-header' data-original-title='' title=''>
              <button type='button' class='close' data-dismiss='modal'>×</button>
              <h4 class='modal-title'>Donate to Climate Cents</h4>
            </div>
            <div class='modal-body' data-original-title='' title=''>
              <iframe src='https://act.myngp.com/Forms/-5416759434145494272'>Loading...</iframe>
            </div>
            <div class='modal-footer' data-original-title='' title=''>
              <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
            </div>
          </div>
        </div>
      </div>
    `);

    modalArray.push(`
      <!-- Sign up for Newsletter -->
      <div id='newsletter-signup-modal' class='modal fade in' role='dialog' aria-labelledby='Climate Cents Newsletter Signup Form' data-original-title='' title=''>
        <div class='modal-dialog modal-lg' data-original-title='' title=''>
          <div class='modal-content' data-original-title='' title=''>
            <div class='modal-header' data-original-title='' title=''>
              <button type='button' class='close' data-dismiss='modal'>×</button>
              <h4 class='modal-title'>Stay Connected to Climate Cents</h4>
            </div>
            <div class='contribution' data-original-title='' title=''>
              <iframe id='newsletter_iframe' src='https://act.myngp.com/Forms/-3110916424931800320'>Loading...</iframe>
            </div>
          </div>
        </div>
      </div>
      }
    `);


    for (i = 0; i < modalArray.length; i++ ){
      $modalDiv.append($.parseHTML(modalArray[i]));
    }
  }
});

</script>
