<div class="row">
  <div class="col-xs-12">
    <h1>Create new donation</h1>
  </div>
</div>

<div class="jumbotron">

</div>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'form', locals: {campaign: @campaign} %>
  </div>
</div>
