<div class="row">
  <div class="col-xs-12">
    <h1>Create new donation</h1>
  </div>
</div>

<div class="jumbotron">
  <h1 style="color: red; text-shadow: 0 1px 1px black;">Warning</h1>
  <p>Changes here do NOT update Stripe or the bank account. They only update our database.</p>
  <p>However, changes made to DONATIONS can be irrecoverable. Use caution.</p>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'form', locals: {donation: @donation} %>
  </div>
</div>
