.exception-page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  text-align: center;
  font-family: Oxygen;
  color: #fff;
  nav {
    padding: 5% 0 2%;
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  .fullpage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0)) center no-repeat no-repeat;
  }
}

.bg-1 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/1.jpg') no-repeat center center;
  background-size: cover;
}
.bg-2 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/2.jpg') no-repeat center center;
  background-size: cover;
}
.bg-3 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/3.jpg') no-repeat center center;
  background-size: cover;
}
.bg-4 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/4.jpg') no-repeat center center;
  background-size: cover;
}
.bg-5 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/5.jpg') no-repeat center center;
  background-size: cover;
}
.bg-6 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/6.jpg') no-repeat center center;
  background-size: cover;
}
.bg-7 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/7.jpg') no-repeat center center;
  background-size: cover;
}
.bg-8 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/8.jpg') no-repeat center center;
  background-size: cover;
}
.bg-9 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/9.jpg') no-repeat center center;
  background-size: cover;
}
.bg-10 {
  background: url('https://s3.amazonaws.com/climatecents3/exception/10.jpg') no-repeat center center;
  background-size: cover;
}
