div#home-body {
  margin: 0;
  padding: 0;
}

section#hero-section{
  width: 100%;
  height: 664px;
  background:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    radial-gradient(circle, rgba(245,166,35,0.40) 0%, rgba(6,57,64,0.40) 100%),
    url('https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/277H.png') no-repeat center center;
  background-size: cover;
  border: 1px solid #979797;
  color: #FFFFFF;
}

nav {
  margin: 30px 0 0 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li.nav-top {
  display: inline;
  padding: 10px 30px 0 0;
  width: 150px;
  height: 20px;
  font-family: Oxygen;
  font-size: 16px;
  text-align: right;
  line-height: 20px;
}

nav li.nav-top:last-child{
  padding-right: 53px;
}

nav li#nav-logo {
  width: 236px;
  height: 39px;
  margin-left: 30px;
  margin-right: 556px;
}

div#hero-header {
  margin: 120px auto;
  width: 100%;
  h1 {
    font-family: Oxygen;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 76px;
    margin-bottom: 22px;
  }
  h2 {
    font-family: Oxygen;
    font-size: 24px;
    text-align: center;
    line-height: 31px;
    margin-bottom: 38px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  div#hero-header-btn{
    margin: 0 auto;
    text-align: center;
  }
  button#btn-hero-back-a-project{
    width: 250px;
    height: 40px;
    background-color: #3EC631;
    border-radius: 30px;
    border: none;
    font-weight: 300;
  }

  span#btn-hero-back-a-project-text {
    width: 120px;
    height: 22px;
    font-family: Oxygen;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
  }
}

div#scroll-down-arrow {
  box-sizing: border-box;
  width: 30px;
  height: 15px;
  z-index: 100;
  margin: 217px auto 0 auto;
}
