 // HERO
section.hero-section{
  width: 100%;
  height: 664px;
  border: 1px solid #979797;
  color: #FFFFFF;
}

nav {
  margin: 30px 0 0 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li.nav-top {
  display: inline;
  padding: 10px 30px 0 0;
  width: 150px;
  height: 20px;
  font-family: Oxygen;
  font-size: 16px;
  text-align: right;
  line-height: 20px;

  a {
    color: #FFFFFF;
  }
  a:hover, a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }
}

nav li.nav-top:last-child{
  padding-right: 53px;
}

nav li#nav-logo {
  width: 236px;
  height: 39px;
  margin-left: 30px;
  margin-right: 556px;
}

.project-header {

  h6 {
    margin: 170px auto 0 auto;
    width: 180px;
    height: 23px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    color: #FFFFFF;
    text-shadow: 0 2px 2px 0 rgba(6,57,64,0.7);
    text-transform: uppercase;
    img {
      width: 1.2em;
      margin-right: 0.5rem;
    }
  }
  h1 {
    margin-top: 10px auto 0 auto;
    width: 737px;
    height: 60px;
    font-family: Oxygen;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 0 2px 2px 0 rgba(6,57,64,0.7);
  }
}

