 // HERO
section.hero-section{
  width: 100%;
  height: 664px;
  border: 1px solid #979797;
  color: #FFFFFF;
}

nav {
  margin: 30px 0 0 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li.nav-top {
  display: inline;
  padding: 10px 30px 0 0;
  width: 150px;
  height: 20px;
  font-family: Oxygen;
  font-size: 16px;
  text-align: right;
  line-height: 20px;
  font-weight: 300;

  a {
    color: #FFFFFF;
  }
  a:hover, a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }
}

nav li.nav-top:last-child{
  padding-right: 53px;
}

nav li#nav-logo {
  width: 236px;
  height: 39px;
  margin-left: 30px;
  margin-right: 556px;
}

.project-header {

  h6 {
    margin: 170px auto 0 auto;
    height: 23px;
    font-family: "Source Sans Pro";
    font-size: 1.8rem; /* 18px/10px */
    font-weight: 300;
    line-height: 1.2777; /* 23/18 */
    color: #FFFFFF;
    text-shadow: 0 2px 2px 0 rgba(6,57,64,0.7);
    text-transform: uppercase;
    text-align: center;
    img {
      width: 1.2em;
      margin-right: 0.5rem;
    }
  }
  h1 {
    margin-top: 0;
    height: 60px;
    font-family: Oxygen;
    font-size: 4.8rem; /* 48px/10px */
    text-align: center;
    line-height: 1.25; /* 60px / 48px */
    color: #FFFFFF;
    text-shadow: 0 2px 2px 0 rgba(6,57,64,0.7);
  }
  h2 {
    height: 31px;
    padding: 0 20%;
    font-family: Oxygen;
    font-size: 2.4rem; /* 24px/ 10px */
    font-weight: 300;
    text-align: center;
    line-height: 1.2916; /* 31 / 24 */
    color: #FFFFFF;
    text-shadow: 0 2px 2px 0 #063940;
  }
  .hero-header-btn {
    text-align: center;
    margin-top: 44px;
    button {
      width: 200px;
      height: 40px;
      background-color: rgba(50,58,69,0.9);
      border: 1px solid rgba(50,58,69,0.9);
      border-radius: 30px;
      font-family: "Source Sans Pro";
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      line-height: 23px;
      color: #FFFFFF;
      span {
        padding-right: 0.5rem;
      }
    }
  }
  .hero-partner {
    margin: 0;
    h6 {
      margin-top: 64px;
      height: 15px;
      font-family: Oxygen;
      font-size: 1.2rem;      // 12px / 10px
      text-align: center;
      line-height: 1.5;       // 15px / 10px
      letter-spacing: 4px;
      color: #FFFFFF;
      text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
    p {
      margin-top: 8px;
      height: 22px;
      font-family: Oxygen;
      font-size: 1.8rem;      // 18px/10px
      font-weight: standard;
      text-align: center;
      line-height: 1.2222rem; // 22px / 18px
      color: #FFFFFF;
      text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
  }
  .partner-logo {
    margin: 20px 0 0 0;
    text-align: center;
    img {
      max-height: 120px;
    }
  }
}

.project-detail {
  .tab {
    margin: 73px 300px;
  }
  .tab-links {
    margin: 0 36px;
    width: 100px;
    height: 20px;
    font-family: Oxygen;
    font-size: 16px;
    line-height: 20px;
    color: #063940;
    &:hover, {
      text-decoration: none;
      padding-bottom: 10px;
      border-bottom: 4px solid #3EC631;
    }
    &:visited, &:active, &:link {
      text-decoration: none;
    }
  }
  .active {
    padding-bottom: 10px;
    border-bottom: 4px solid #3EC631;
  }
  .tab-links:last-child {
    box-sizing: border-box;
    width: 102px;
    height: 38px;
    border: 1px solid #3EC631;
    border-radius: 4px;
    font-family: Oxygen;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: #3EC631;
    padding: 10px 21px;
    span {
      padding-right: 5px;
      height: 16px;
    }
  }
  .tab-content {
    margin: 3% 29.28% 7.142% 29.28%;
    font-family: Oxygen;
    font-size: 18px;
    line-height: 32px;
    color: #6E6E6E;
    min-height: 250px;
    h4 {
      font-family: Oxygen;
      font-size: 36px;
      font-weight: bold;
      line-height: 44px;
      letter-spacing: -1px;
      color: #063940;
      text-align: center;
    }
  }
}

.footer-cta {
  height: 100px;
  width: 100%;
  opacity: 0.95;
  background: radial-gradient(circle, #1D818E 0%, #063940 54.42%, #063940 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  div {
    margin: 0;
    padding: 0;
  }
}

.footer-cta-inner {
  display: flex;
  flex-flow: no-wrap row;
  justify-content: center;
  div {
    width: 33%;
    text-align: center;
  }
  div:first-child {
    margin-left: 16.667%;
    .top-p-cta {
      margin-top: 30px;
      margin-bottom: 0;
      font-family: "Source Sans Pro";
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      line-height: 15px;
      color: #FFFFFF;
      text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
    .bottom-p-cta {
      font-family: "Source Sans Pro";
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      line-height: 27px;
      color: #FFFFFF;
      text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
  }
  div:last-child {
    margin-right: 16.667%
  }
  div ul {
    list-style-type: none;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    padding: 0;
    margin: 26px auto 8px auto;
    max-width: 300px;
  }
  div li {
    display: inline;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    span {
      font-size: 20px;
      font-weight: 600;
      text-align: right;
      line-height: 25px;
      color: #FFFFFF;
      text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
  }
  #project-progress-bar {
    text-align: center;
    margin:0;
    width: 300px;
    height: 11px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #063940;
    .progress-bar-success {
      margin-right: 0;
      margin-left: 0;
      background-color: #3EC631;
    }
  }
  button {
    margin-top: 26px;
    box-sizing: border-box;
    width: 224px;
    height: 48px;
    background-color: #3EC631;
    border: 2px solid rgba(6,57,64,0.1);
    border-radius: 4px;
    font-family: Oxygen;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
  }
}
