 // HERO
.project-page{
  section.hero-section{
    width: 100%;
    height: 650px;
    border: 1px solid #979797;
    color: #FFFFFF;
  }

  nav {
    margin: 3rem 0 0 0;
    padding: 0;
  }

  nav ul {
    list-style-type: none;
  }

  nav li.nav-top {
    display: inline;
    padding: 10px 30px 0 0;
    width: 150px;
    height: 20px;
    font-family: Oxygen;
    font-size: 1.6rem;
    text-align: right;
    line-height: 1.25;
    font-weight: 300;

    a {
      color: #FFFFFF;
    }
    a:hover, a:visited {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  nav li.nav-top:last-child{
    padding-right: 53px;
  }

  nav li#nav-logo {
    width: 236px;
    height: 39px;
    margin-left: 30px;
    margin-right: 556px;
  }


  .project-header {

    h6 {
      margin: 120px auto 0 auto;
      height: 23px;
      font-family: "Source Sans Pro";
      font-size: 1.8rem; /* 18px/10px */
      font-weight: 300;
      line-height: 1.2777; /* 23/18 */
      color: #FFFFFF;
      text-shadow: 0 2px 2px rgba(6,57,64,0.25); //.7
      text-transform: uppercase;
      text-align: center;
      img {
        width: 1.2em;
        margin-right: 0.5rem;
      }
    }
    h1 {
      margin-top: 0;
      height: 60px;
      font-family: Oxygen;
      font-size: 4.8rem; /* 48px/10px */
      text-align: center;
      line-height: 1.25; /* 60px / 48px */
      color: #FFFFFF;
      text-shadow: 0 2px 2px rgba(6,57,64,0.25); //.7
    }
    h2 {
      min-height: 60px;
      padding: 0 20%;
      font-family: Oxygen;
      font-size: 2.4rem; /* 24px/ 10px */
      font-weight: 300;
      text-align: center;
      line-height: 1.2916; /* 31 / 24 */
      color: #FFFFFF;
      text-shadow: 0 2px 2px #063940;
    }
    .hero-header-btn {
      text-align: center;
      margin-top: 44px;
      button {
        width: 200px;
        height: 40px;
        background-color: rgba(50,58,69,0.9);
        border: 1px solid rgba(50,58,69,0.9);
        border-radius: 30px;
        font-family: "Source Sans Pro";
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.25;
        color: #FFFFFF;
        span {
          padding-right: 0.5rem;
        }
      }
    }
    .hero-partner {
      margin: 0;
      h6 {
        margin-top: 64px;
        min-height: 15px;
        font-family: Oxygen;
        font-size: 1.2rem;      // 12px / 10px
        text-align: center;
        line-height: 1.5;       // 15px / 10px
        letter-spacing: 4px;
        color: #FFFFFF;
        text-shadow: 0 1px 2px rgba(0,0,0,0.25); //.5
      }
      p {
        margin-top: 8px;
        min-height: 22px;
        font-family: Oxygen;
        font-size: 1.8rem;      // 18px/10px
        font-weight: standard;
        text-align: center;
        line-height: 1.2222rem; // 22px / 18px
        color: #FFFFFF;
        text-shadow: 0 1px 2px rgba(0,0,0,0.25); //.5
      }
    }
    .partner-logo {
      margin: 40px 0 0 0;
      width: 100%;
      text-align: center;
      img {
        max-height: 120px;
        -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,0.25)); // .5
        filter: drop-shadow(0 2px 2px rgba(0,0,0,0.25)); // .5
      }
    }
  }

  .project-detail {
    .tab {
      max-width: 850px;
      margin: 75px auto;
    }
    .tab-links {
      margin: 0 36px;
      width: 100px;
      height: 20px;
      font-family: Oxygen;
      font-size: 1.6rem;
      line-height: 1.25;
      color: #063940;
      &:hover, {
        text-decoration: none;
        padding-bottom: 10px;
        border-bottom: 4px solid #3EC631;
      }
      &:visited, &:active, &:link {
        text-decoration: none;
      }
    }
    .active {
      padding-bottom: 10px;
      border-bottom: 4px solid #3EC631;
    }
    .tab-links:last-child {
      box-sizing: border-box;
      width: 102px;
      height: 38px;
      border: 1px solid #3EC631;
      border-radius: 4px;
      font-family: Oxygen;
      font-size: 1.4rem;
      text-align: center;
      line-height: 1.25;
      color: #3EC631;
      padding: 10px 21px;
      span {
        padding-right: 5px;
        height: 16px;
      }
    }
    .tab-content {
      margin: 3% 29.28% 7.142% 29.28%;
      font-family: Oxygen;
      font-size: 1.8rem;
      line-height: 1.6;
      color: #6E6E6E;
      min-height: 250px;
      h4 {
        font-family: Oxygen;
        font-size: 3.6rem;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: -1px;
        color: #063940;
        text-align: center;
      }
      div {
        margin: 2px auto;
        max-width: 560px;
        ul {
          font-size: 1.6rem;
          line-height: 1.5;
          margin-left: 1rem;
        }
        h5 {
          font-weight: bold;
        }
        p {
          padding: 0 5%;
          font-size: 1.6rem;
          line-height: 1.5;
        }
        div {
          text-align: center;
        }
        iframe {
          width: 90%;
          height: 315px;
          margin: 0 auto;
        }
        address {
          font-size: 1.6rem;
          padding-left: 30px;
        }
        blockquote {
          font-size: 1.4rem;
        }
      }
      .social-icons {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
      }
      .social-icons {
        padding-top: 24px;
        flex-flow: row wrap;
      }
      .fb-share, .twitter-share {
        padding: 0 10px 20px;
        span img {
          max-height: 31px;
          width: auto
        }
      }
      .fb-share button {
        box-sizing: border-box;
        width: 222px;
        height: 46px;
        background-color: #3B5998;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-family: Oxygen;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.25;
        color: #FFFFFF;
        text-align: center;
        span {
          padding-right: 19px;
        }
      }
      .twitter-share button {
        box-sizing: border-box;
        width: 222px;
        height: 46px;
        background-color: #4099FF;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-family: Oxygen;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.25;
        color: #FFFFFF;
        span {
          padding-right: 10px;
        }
      }
    }
  }

  .fb-like {
    margin: 0 auto;
  }


  .footer-cta {
    height: 100px;
    width: 100%;
    opacity: 0.95;
    background: radial-gradient(circle, #26484D 0%, #063940 54.42%, #063940 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    div {
      margin: 0;
      padding: 0;
    }
  }

  .footer-cta-inner {
    display: flex;
    flex-flow: no-wrap row;
    justify-content: center;
    div {
      width: 33%;
      text-align: center;
    }
    .left-column {
      margin-left: 16.667%;
      .top-p-cta {
        margin-top: 30px;
        margin-bottom: 0;
        font-family: "Source Sans Pro";
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.333;
        color: #FFFFFF;
        text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
      }
      .bottom-p-cta {
        font-family: "Source Sans Pro";
        font-size: 2.1rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.25;
        color: #FFFFFF;
        text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
      }
    }
    .center-column {
      ul {
        list-style-type: none;
        display: flex;
        flex-flow: row no-wrap;
        justify-content: space-between;
        padding: 0;
        margin: 26px auto 8px auto;
        max-width: 300px;
      }
      li {
        display: inline;
        font-family: "Source Sans Pro";
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.333;
        color: #FFFFFF;
        text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
        span {
          font-size: 2rem;
          font-weight: 600;
          text-align: right;
          line-height: 1.25;
          color: #FFFFFF;
          text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
        }
      }
      #project-progress-bar {
        text-align: center;
        margin: 0;
        width: 300px;
        height: 11px;
        border-radius: 5px;
        margin: 0 auto;
        background-color: #063940;
        .progress-bar-success {
          margin-right: 0;
          margin-left: 0;
          background-color: #3EC631;
        }
      }
    }
    .right-column {
      margin-right: 16.667%;
      button {
        margin-top: 26px;
        box-sizing: border-box;
        width: 224px;
        height: 48px;
        background-color: #3EC631;
        border: 2px solid rgba(6,57,64,0.1);
        border-radius: 4px;
        font-family: Oxygen;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.25;
        color: #FFFFFF;
      }
    }
  }
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

// RESPONSIVE FUN -----------------------------------
// ==================================================

// under 1400px default
// --------------------------------------------------
@media all and (max-width: 1399px) {
  $header-height: 650px;
  $partner-logo-maxheight: 120px;

  .project-page {

    nav li#nav-logo {
      width: 236px;
      max-width: 236px;
      margin-right: 0;
    }

    nav span {
      float: right;
      padding: 1vh 0 0 0;
    }

    .project-header {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 2.4rem;
        margin-top: 12px;
      }

      h6 {
        &:first-child {
          margin-top: 108px;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 48px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 44px;
      }

      .partner-logo {
        position: absolute;
        top: $header-height - 100px;
        img {
          max-height: $partner-logo-maxheight;
        }
      }
    }
    .project-detail {
      .tab {
        margin: inherit auto 0;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 3rem;
        font-size: 2rem;
        line-height: 1.5;
      }

      .tab-links:last-child {
        display: inline;
        width: 80px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }

    .footer-cta-inner {
      div {
        width: 33%;
      }
      .left-column {
        margin-left: 5vw;
        .top-p-cta {
          margin-top: 24px;
          margin-bottom: 0;
          font-size: 1.2rem;
          line-height: 1.3;
        }
        .bottom-p-cta {
          font-size: 2.1rem;
          text-align: center;
          line-height: 1.25;
        }
      }
      .center-column {
        ul {
          padding: 0;
          margin: 24px auto 8px auto;
          max-width: 100%;
        }
        li {
          font-size: 1.4rem;
          line-height: 1.25;
          span {
            font-size: 2rem;
            text-align: right;
            line-height: 1.25;
          }
        }
        #project-progress-bar {
          text-align: center;
          margin: 0 auto;
          width: 90%;
          height: 11px;
          margin: 0 auto;
          .progress-bar-success {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
      .right-column {
        margin-right: 5vw;
        button {
          margin-top: 24px;
          width: 85%;
          max-width: 180px;
          height: 4.8rem;
          border-radius: 4px;
          font-size: 1.6rem;
          text-align: center;
          line-height: 1.25;
        }
      }
    }
    // end .project-page
  }
// end <=1399px
}

// =============================================
// max-width 850px for small browser windows

@media all and (max-width: 850px) {
  $header-height: 550px;
  $partner-logo-maxheight: 80px;

  .project-page {
    section.hero-section {
      height: $header-height;
      max-height: $header-height;
    }
    nav {
      margin-top: 12px;
      span {
        display: none;
      }
      ul {
        padding: 0;
        text-align: center;
      }
      li#nav-logo {
        margin: 0;
        padding: 0;
      }
    }

    .project-header {
      h1, h2, h6, div {
        width: 90%;
        margin: 0 auto;
      }
      h1 {
        font-size: 3.2rem;
        height: auto;
        margin-bottom: 12px;
      }
      h2 {
        font-size: 2.1rem;
        padding: 0 1vw;
      }
      div {
        h6, p {
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }
      }

      h6 {
        &:first-child {
          margin-top: 66px;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-header-btn {
        margin-top: 22px;
        width: 100%;
      }

      .hero-partner {
        position: absolute;
        top: $header-height - 120px;
        margin-top: 12px;
        width: 100%;
        h6 {
          margin-top: 0;
        }
      }

      .partner-logo {
        position: absolute;
        top: $header-height - 80px;
        img {
          max-height: $partner-logo-maxheight;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 55px 0 0 0;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 18px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        display: block;
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 16px auto;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 155px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      height: 100px;
      .footer-cta-inner {
        flex-flow: wrap row;
        div {
          width: 100%;
        }
        .left-column, .center-column, .right-column {
          margin: 8px auto 0;
          height: auto;
        }
        .left-column {
          display: none;
          .top-p-cta, .bottom-p-cta {
            width: 50%;
            margin: 0;
            padding: 0 1vw;
            float: left;
            vertical-align: text-bottom;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
          }
          .top-p-cta {
            font-size: 1rem;
          }
          .bottom-p-cta {
            font-size: 1.2rem;
          }
        }
        .center-column {
          ul {
            margin: 0 1vw 8px;
          }
          li {
            font-size: 1.2rem;
            span {
              font-size: 1.6rem;
            }
          }
          #project-progress-bar {
            .progress-bar-success {
            }
          }
        }
        .right-column {
          button {
            margin: 8px auto;
            width: 70%;
            max-width: 250px;
            height: 30px;
            font-size: 1.4rem;
          }
        }
      }
    }
    // end .project-page
  }
  // end of 850px section
}

// ==================================================
// media query for ipad pro landscape
@media screen
    and (max-device-width : 1399px)
    and (orientation : landscape) {
  .project-page {
    section.hero-section {
      height: 542px;
    }

    .project-header {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3rem;
        margin-top: 1vh;
      }

      h6 {
        &:first-child {
          margin-top: 4vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 3vh;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 2vh;
      }

      .partner-logo {
        top: 450px;
        margin: 40px auto 0;
        right: 0;
        img {
          max-height: 100px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 6vh auto 0;
        width: 100%;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 100px;
        height: 3rem;
        font-size: 2rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        display: inline;
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 120px;
        font-size: 1.25rem;
        line-height: 1.5;
        min-height: auto;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }

    // end .project-page
  }
// end of landscape design 1025-1399px ipad pro landscape
}

// ==================================================
// media query for ipad pro 1024x1399 actually 1366 but our base design was for 1400px width
// ==================================================
// media query for ipad pro in portrait to the original design width of 1400px
@media screen
    and (max-device-width : 1399px)
    and (orientation : portrait) {

  .project-page {

    nav li#nav-logo {
      width: 236px;
      max-width: 236px;
      margin-right: 0;
    }

    nav span {
      float: right;
      padding: 1vh 4vw 0 0;
    }

    .project-header {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3rem;
        padding: 0 2vw;
      }

      h6 {
        &:first-child {
          margin-top: 6vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 68px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 55px;
      }

      .partner-logo {
        margin-top: 50px;
        img {
          max-height: 100px;
        }
      }
    }
    .footer-cta {
      .footer-cta-inner {
        .left-column, .center-column, .right-column {
          margin: 0 auto 0;
        }
        .left-column {
          .top-p-cta {
            margin-top: 2vh;
          }
        }
        .center-column {
          ul {
            margin-top: 2vh;
          }
        }
        .right-column {
          button {
            margin-top: 2vh;
          }
        }
      }
    }
  }
// end of portrait design 1025-1399px ipad pro portrait
}
// ==================================================
// media query for ipad landscape
@media screen
    and (max-device-width : 1024px)
    and (orientation : landscape) {
  .project-page {
    section.hero-section {
      height: 500px;
      padding: 0;
    }

    .project-header {
      h1 {
        font-size: 3.2rem;
      }
      h2 {
        font-size: 2.6rem;
        padding: 0 2vw;
      }

      h6 {
        &:first-child {
          margin-top: 8vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 3vh;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 2vh;
      }

      .partner-logo {
        top: 400px;
        img {
          max-height: 120px;
        }
      }
    }

    .project-detail {
      section {
        padding: 0;
      }
      .tab {
        width: 100%;
        margin: 10vh auto 0;
        text-align: center;
      }
      .tab-links:last-child {
        display: inline;
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
  // end .project-page
  }
// end of ipad landscape
}
// ==================================================
// media query for ipad 768 x 1024
// ==================================================
//
// media query for 768px wide portrait
@media screen and (max-device-width : 768px)
    and (orientation : portrait) {
  .project-page {
    margin-bottom: 40px;
    section.hero-section {
      height: 490px;
      nav {
        margin-top: 3vh;
        li#nav-logo {
          margin-left: 0;
        }
      }
    }
    .project-header {
      h1 {
        font-size: 3.2rem;
        height: auto;
      }
      h2 {
        font-size: 2.4rem;
        line-height: 1.5;
        padding: 0 3vw;
      }
      h6 {
        &:first-child {
          margin-top: 4vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 380px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 2vh;
      }

      .partner-logo {
        width: 100%;
        top: 400px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 6vh 0 2vh;
        text-align: center;
      }
      .tab-links:last-child {
        display: inline;
      }
      .tab-content {
        margin: 3vw 2vw 110px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      height: 100px;
      .footer-cta-inner {
        .left-column, .center-column, .right-column {
          float: left;
          padding-top: 2.5vh;
        }
        .left-column, .right-column {
          width: 29%
        }
        .left-column {
          display: block;
          .top-p-cta, .bottom-p-cta {
            margin-top: 0;
            width: 100%;
          }
          .top-p-cta {
            font-size: 1.4rem;
          }
          .bottom-p-cta {
            padding-top: 5px;
            font-size: 2.2rem;
          }
        }
        .center-column {
          width: 40%;
          ul {
            margin: 0 0 10px;
            padding: 0;
          }
          li {
            font-size: 1.4rem;
            line-height: 1.5;
            span {
              font-size: 1.6rem;
            }
          }
          #project-progress-bar {
            width: 92%;
            .progress-bar-success {
            }
          }
        }
        .right-column {
          button {
            margin: 0;
            height: 40px;
            font-size: 1.4rem;
          }
        }
      }
    }
    // end .project-page
  }
// end of ipad portait
}

// ==================================================
// media query for iphone 6+/7+ Landscape
@media screen and (max-device-width : 736px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation : landscape) {
  .project-page {
    margin-bottom: 40px;
    section.hero-section {
      max-width: 736px;
      height: 375px;
    }
    nav {
      margin: 12px auto 0;
    }
    nav ul {
      padding: 0;
      margin: 0 auto;
    }
    nav li.nav-top {
      display: none;
    }
    nav li#nav-logo {
      display: block;
      text-align: center;
      width: 100%;
      max-width: 100%;
      margin: 2vh auto 0;
      padding: 0;
    }
    .project-header {
      max-width: 736px;
      padding-right: 0;
      h1, h2, h6, div {
        width: 100%;
        margin: 0;
        max-width: 736px;
      }

      h1 {
        font-size: 2.8rem;
        height: auto;
        max-height: 4rem;
      }
      h2 {
        font-size: 1.8rem;
        line-height: 1.6;
        padding: 0;
        width: 85%;
        margin: 0 auto;
      }

      h6 {
        &:first-child {
          margin-top: 4vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 270px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 4vh;
      }

      .partner-logo {
        top: 295px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 55px auto 30px;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 2.5rem; //8rem lineheight at 1.5x1.6rem, +1.6rem
        font-size: 1.6rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
      }
      .tab-content {
        margin: 3vh 6vw 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      height: 100px;
      .footer-cta-inner {
        padding: 28px 2vw 0;
        .left-column, .center-column, .right-column {
          float: left;
        }
        .left-column, .right-column {
          width: 30%;
        }

        .left-column {
          display: block;
          .top-p-cta, .bottom-p-cta {
            width: 100%;
          }
          .top-p-cta {
            font-size: 1.4rem;
          }
          .bottom-p-cta {
            font-size: 2rem;
          }
        }
        .center-column {
          width: 39%;
          ul {
            margin: 0 5px 5px;
          }
          li {
            font-size: 1.2rem;
            span {
              font-size: 1.6rem;
            }
          }
          #project-progress-bar {
            width: 90%;
            .progress-bar-success {
            }
          }
        }
        .right-column {
          button {
            margin: 2px auto 0;
            padding: 0;
            height: 36px;
            width: 160px;
          }
        }
      }
    }
// end .project-page
  }
// end of 6+/7+ landscape
}

// ==================================================
// media query for 6+/Nexus 414x736
// media query for 414px wide portrait
@media screen and (max-device-width : 414px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation : portrait) {
  .project-page {
    margin-bottom: 40px;
    section.hero-section {
      height: 465px;
      padding: 0;
      nav {
        margin-top: 16px;
      }
    }
    nav {
      ul {
        padding-left: 0;
      }
      li.nav-top {
      // display: none;
      }
      li#nav-logo {
        display: block;
        margin: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: none;
        text-align: center;
      }
    }
    .project-header {
      text-align: center;
      h1, h2, h6 {
        padding: 0;
        margin: 0;
        width: 94%;
        max-width: 414px;
        height: auto;
        max-height: none;
        margin: 0 auto;
      }
      h1 {
        font-size: 2.6rem;
      }

      h2 {
        font-size: 1.6rem;
        line-height: 1.5;
        width: 93%;
        padding-left: 2vw;
        padding-top: 1vh;
      }

      h6 {
        &:first-child {
          margin-top: 40px;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 345px;
        h6 {
          margin-top: 0;
          width: 100%;
          max-width: none;
        }
      }
      .hero-header-btn {
        margin-top: 2vh;
      }

      .partner-logo {
        top: 370px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 7vh auto 2vh;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 18px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        display: block;
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      width: 100%;
      padding: 0;
      margin: 0;
      .footer-cta-inner {
        .left-column, .center-column, .right-column {
          padding-top: 14px;
        }
        .left-column {
          width: 25%;
          margin-top: 5px;
          .top-p-cta {
            font-size: 1.2rem;
            height: auto;
          }
          .bottom-p-cta {
            font-size: 1.6rem;
            padding: 2px 0 0;
            height: auto;
          }
        }
        .center-column {
          width: 45%;
          li {
            font-size: 1.2rem;
            span {
              font-size: 1.6rem;
            }
          }

        }
        .right-column {
          width: 29%;
          margin: 0 auto;
          padding-right: 10px;
          button {
            margin-right: 4px;
            height: 72px;
            font-size: 1.6rem;
          }
        }
      }
    }
// end .project-page
  }
// end of 6+/7+ portait
}

// ==================================================
// iphone 6 landscape mode
@media screen and (max-width: 667px) and (orientation: landscape) {

  .project-page {
    margin-bottom: 40px;
    section.hero-section {
      position: relative;
      width: 105%;
      max-width: none;
      height: 385px;
      right: 0;
      nav ul {
        padding: 0;
        width: 100%;
        max-width: 100%;
      }
      nav li#nav-logo {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        display: block;
      }
    }
    .project-header {
      height: 75vh;
      h1 {
        font-size: 2.8rem;
        height: auto;
      }
      h2 {
        font-size: 1.6rem;
        line-height: 1.5;
        padding: 0 3vw;
      }
      h6 {
        &:first-child {
          margin-top: 5vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 275px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 4vh;
      }

      .partner-logo {
        width: 100%;
        max-width: none;
        text-align: center;
        top: 300px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 16vh 4vw 5vh;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 18px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      .footer-cta-inner {
        .left-column, .center-column, .right-column {
          margin-top: 10px;
        }
        .left-column, .right-column {
          width: 29%;
        }
        .left-column {
          display: block;
          padding-top: 15px;
          .top-p-cta, .bottom-p-cta {
            width: 100%;
            height: auto;
            max-height: none;
          }
          .top-p-cta {
            font-size: 1.4rem;
          }
          .bottom-p-cta {
            font-size: 1.8rem;
          }
        }
        .center-column {
          width: 40%;
          ul {
            margin: 10px 10px;
          }
          li {
            font-size: 1.4rem;
            span {
              font-size: 1.8rem;
            }
          }
          #project-progress-bar {
            width: 90%;
            .progress-bar-success {
            }
          }
        }
        .right-column {
          button {
            margin: 10px 10px;
            height: 56px;
            font-size: 1.8rem;
          }
        }
      }
    }

// end .project-page
  }
// end of 6 landscape
}

// Media Queries
// iphone 6 in portrait
@media screen and (max-width: 375px) and (orientation: portrait) {
  .project-page {
    margin-bottom: 40px;

    section.hero-section {
      nav {
        margin-top: 16px;
      }
      height: 500px;
      header {
        ul {
          padding: 0;
          text-align: center;
          width: 100%;
          max-width: 375px;
          li {
            width: 100;
            max-width: 375px;
            padding: 0;
          }
        }
      }
    }
    .project-header {
      h1 {
        font-size: 2.6rem;
      }
      h2 {
        font-size: 1.8rem;
        line-height: 1.5;
        padding: 0 3vw;
      }

      h6 {
        &:first-child {
          margin-top: 40px;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 395px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 4vh;
      }

      .partner-logo {
        top: 410px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 9vh 1vw 4vh;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 18px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        display: block;
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      .footer-cta-inner {
        .left-column {
          display: none;
        }
        .center-column, .right-column {
          margin: 0;
          padding: 10px 4px;
        }
        .center-column {
          width: 60%;
          margin-top: 1vh;
        }
        .right-column {
          width: 39%;
          margin-top: 2vh;
          button {
            width: 80%;
            height: 52px;
          }
        }
      }
    }
// end .project-page
  }
// end of 6 portait
}

// ==================================================
// iphone 5/SE landscape mode
@media screen and (max-width: 568px) and (orientation: landscape) {
  .project-page {
    margin-bottom: 40px;
    section.hero-section {
      height: 360px;
      header {
        nav {
          margin-top: 2vh;
          ul {
            padding: 0;
            text-align: center;
            li {
              width: 100%;
              max-width: 100%;
            }
            li#nav-logo {
              margin: 0 auto;
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
    .project-header {
      h1 {
        font-size: 2.5rem;
        height: auto;
      }
      h2 {
        font-size: 1.5rem;
        line-height: 1.5;
        padding: 0 3vw;
      }
      h6 {
        &:first-child {
          margin-top: 5vh;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 250px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 2vh;
      }

      .partner-logo {
        top: 275px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 16vh 4vw 5vh;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 18px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      .footer-cta-inner {
        .left-column, .center-column, .right-column {
          margin: 0;
          padding: 7px 4px;
        }
        .left-column, .right-column {
          width: 30%;
        }
        .left-column {
          display: block;
          margin-top: 18px;
          .top-p-cta, .bottom-p-cta {
            height: auto;
            max-height: none;
            p {
              padding: 0;
              margin: 0;
            }
          }
          .top-p-cta {
            font-size: 1.3rem;
          }
          .bottom-p-cta {
            font-size: 1.7rem;
            padding-top: 4px;
          }
        }
        .center-column {
          width: 39%;
          margin-top: 16px;
          ul {
            margin: 0;
            padding-bottom: 6px;
          }
          li {
            font-size: 1.3rem;
            span {
              font-size: 1.7rem;
            }
          }
          #project-progress-bar {
            width: 90%;
            .progress-bar-success {
            }
          }
        }
        .right-column {
          button {
            margin: 15px auto 0;
            font-size: 1.7rem;
          }
        }
      }
    }

// end .project-page
  }
// end of 5/SE landscape
}

// ==================================================
// iphone 5/SE in portrait
@media screen and (max-width: 320px) and (orientation: portrait) {
  .project-page {
    margin-bottom: 40px;
    nav {
      margin: 12px auto;
      ul {
        padding-left: 0;
      }
    }
    section.hero-section {
      height: 430px;
    }
    nav li#nav-logo {
      width: 100%;
      max-width: none;
      padding: 0;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .project-header {
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 6px 3vw 1vh;
      }

      h6 {
        &:first-child {
          margin-top: 20px;
          font-size: 1rem;
          line-height: 1.5;
          height: 2rem;
        }
      }
      .hero-partner {
        margin-top: 0;
        top: 335px;
        h6 {
          margin-top: 0;
        }
      }
      .hero-header-btn {
        margin-top: 1vh;
      }

      .partner-logo {
        top: 340px;
        img {
          max-height: 80px;
        }
      }
    }

    .project-detail {
      .tab {
        margin: 9vh 2vw 1vh;
        text-align: center;
      }
      .tab-links {
        margin: 0 1vw;
        width: 80px;
        height: 18px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .active {
        padding-bottom: 5px;
        border-bottom: 3px solid #3EC631;
      }
      .tab-links:last-child {
        display: block;
        width: 120px;
        height: 38px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 7px 14px;
        margin: 5% auto 2%;
        span {
          padding-right: 5px;
          height: 16px;
        }
      }
      .tab-content {
        margin: 3% 3% 105px;
        font-size: 1.25rem;
        line-height: 1.5;
        h4 {
          margin: 0 auto;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
          letter-spacing: normal;
        }
      }
    }
    .footer-cta {
      .footer-cta-inner {
        .left-column {
          display: none;
        }
        .center-column {
          margin-top: 1vh;
        }
        .right-column {
          margin-top: 2vh;
        }
      }
    }
// end .project-page
  }
// end of 5/SE portait
}

