<div class="row">
  <div class="col-xs-12">
    <h1>All Locations</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Create New Location', new_location_path, class: "btn btn-default" %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-4">
    <h5>Location</h5>
  </div>

  <div class="col-xs-4">
    <h5>Partners in Location</h5>
  </div>

  <div class="col-xs-4">
    <h5>Edit Location</h5>
  </div>
</div>

<% @locations.each do |location| %>

  <div class="row">
    <div class="col-xs-4">
      <p><%= link_to location.name, location_path(location) %></p>
    </div>

    <div class="col-xs-4">
      <p><%= Partner.where(location_id: location.id).count %></p>
    </div>

    <div class="col-xs-4">
      <p><%= link_to 'Edit', edit_location_path(location) %></p>
    </div>
  </div>

<% end %>

