<h2>Thanks, you donated <strong><%= number_to_currency((params[:totalDonation].to_f)/100) %></strong>!</h2>
<h3>Your contribution will remove the equivalent of
  <%= pluralize(@co2, 'pound', 'pounds') %> of carbon dioxide (CO2) from the atmosphere
</h3>
<div>

<script>
// Only works after `FB.init` is called
function myFacebookLogin() {
  FB.login(function(){
    FB.api('/me/feed', 'post', {message: 'My donation to Climate Cents removed <%= @co2 %> pounds of CO2 to help fight global warming http://www.climatecents.org'});},
    {scope: 'publish_actions'});
}
</script>
<button onclick="myFacebookLogin()" class="btn btn-lrg btn-default">Share on Facebook!</button>

<hr />
<%= link_to 'Home', root_path, class: "btn btn-link" %>
