<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"
          data-image="https://s3.amazonaws.com/climatecents/logos/footer-logos/logo_climatecents_mark.png"
          data-zip-code="true"></script>
<% end %>

<hr/>
<%= link_to 'Back', :back, class: "btn btn-primary btn-sm" %>
